#screenity-screen-recorder-extension-camera #wrap-iframe-camera {
  position: fixed;
  border-radius: 5px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 90%;
  height: 90%;
  margin: auto;
  z-index: 9999 !important;
  overflow: hidden;
  display: block;
  pointer-events: none;
}
#screenity-screen-recorder-extension-camera #wrap-iframe-camera iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0px;
}
#screenity-screen-recorder-extension-camera #camera-hide {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 9999 !important;
  position: fixed;
  top: 0px;
  left: 0px;
}
#screenity-screen-recorder-extension-camera #toolbar-record-camera {
  all: initial;
  position: fixed;
  bottom: 15px;
  left: 5px;
  display: table;
  z-index: 999999;
  border-spacing: 10px 0px;
  transition: all 0.25s cubic-bezier(0.05, 0.03, 0.35, 1);
  margin-bottom: 0px;
  visibility: visible;
}
#screenity-screen-recorder-extension-camera #toolbar-record-camera * {
  all: unset;
}
#screenity-screen-recorder-extension-camera
  #toolbar-record-camera
  .tool-camera {
  width: 45px;
  height: 45px;
  border-radius: 200px;
  background-color: #fff;
  display: table-cell;
  box-shadow: 0px 4px 40px rgba(132, 164, 193, 0.15);
  border: 1px solid #d3dadf;
  text-align: center;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.05, 0.03, 0.35, 1);
  transition-property: background-color, transform, opacity;
  box-sizing: border-box;
}
#screenity-screen-recorder-extension-camera
  #toolbar-record-camera
  .tool-camera:hover {
  cursor: pointer;
  background-color: #f2f3f3;
}
#screenity-screen-recorder-extension-camera
  #toolbar-record-camera
  .tool-camera
  img {
  display: inline-block;
  margin-top: 6px;
}
#screenity-screen-recorder-extension-camera
  #toolbar-record-camera
  #pause-camera {
  background-color: #2d89f4;
  border: 0px;
}
#screenity-screen-recorder-extension-camera .toolbar-inactive-camera {
  margin-bottom: -10px !important;
  opacity: 0 !important;
}
#screenity-screen-recorder-extension-camera .tool-active-camera {
  background-color: #2d89f4 !important;
  border: 0px !important;
}
#screenity-screen-recorder-extension-camera #countdown-camera {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  text-align: center;
  line-height: 250px;
  z-index: 99999999 !important;
}
#screenity-screen-recorder-extension-camera #countdown-camera img {
  vertical-align: middle;
}
#screenity-screen-recorder-extension-camera .countdown-done-camera {
  display: none !important;
}
#screenity-screen-recorder-extension-camera #toolbar-settings-camera {
  all: initial;
  width: 282px;
  height: 335px;
  filter: drop-shadow(0px 4px 40px rgba(132, 164, 193, 0.15));
  box-sizing: border-box;
  position: fixed;
  bottom: 60px;
  left: 8px;
  z-index: 99999;
  transition: all 0.25s cubic-bezier(0.05, 0.03, 0.35, 1);
  margin-bottom: 0px;
  visibility: visible;
}
#screenity-screen-recorder-extension-camera .pen-options-camera {
  transform: scale(0.85) !important;
}
#screenity-screen-recorder-extension-camera .pen-options-camera img {
  transform: scale(1.15) !important;
}
