#screenity-screen-recorder-extension .no-cursor, #screenity-screen-recorder-extension .no-cursor * {
    cursor: none!important;
}
#screenity-screen-recorder-extension {
    pointer-events: none;
    top: 0px;
    left: 0px;
}
#screenity-screen-recorder-extension * {
    pointer-events: unset;
}
#screenity-screen-recorder-extension :not(.pcr-app*) {
    all: unset;
}
#screenity-screen-recorder-extension #wrap-iframe {
    position: fixed;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    width: 195px;
    height: 195px;
    z-index: 999999999!important;
    overflow: hidden;
    display: block;
    pointer-events: none;
    transition: transform .15s cubic-bezier(.05,.03,.35,1);
    transform: scale(1);
}
#screenity-screen-recorder-extension #wrap-iframe iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0px;
}
#screenity-screen-recorder-extension .no-camera {
    transform: scale(0)!important;
    pointer-events: none;
}
#screenity-screen-recorder-extension #detect-iframe {
    width: 195px;
    height: 195px;
    z-index: 9999999999999!important;
    position: fixed;
    border-radius: 50%;
    top: 0px;
    left: 0px;
}
#screenity-screen-recorder-extension #detect-iframe:hover {
    cursor: move;
}
#screenity-screen-recorder-extension .detect-resize:hover {
    cursor: se-resize!important;
}
#screenity-screen-recorder-extension #hide-camera {
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D3DADF;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(132, 164, 193, 0.15);
    border-radius: 300px;
    z-index: 9999999999999!important;
    left: 7px;
    top: 7px;
    visibility: visible;
}
#screenity-screen-recorder-extension #hide-camera img {
    margin-top: 8px;
    width: 22px;
}
#screenity-screen-recorder-extension #change-size {
    width: 80px;
    height: 38px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    margin: auto;
    left: 0px;
    right: 0px;
    position: absolute;
    bottom: 20px;
    vertical-align: middle;
    text-align: center;
}
#screenity-screen-recorder-extension #change-size:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#screenity-screen-recorder-extension .choose-size {
    border-radius: 1000px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
#screenity-screen-recorder-extension #small-size {
    width: 9px;
    height: 9px;
}
#screenity-screen-recorder-extension .size-active {
    background-color: #FFF;
    border: none!important;
}
#screenity-screen-recorder-extension #medium-size {
    width: 14px;
    height: 14px;
}
#screenity-screen-recorder-extension #large-size {
    width: 20px;
    height: 20px;
}
#screenity-screen-recorder-extension .choose-size:not(.size-active):hover {
    cursor: pointer;
    opacity: .7;
}
#screenity-screen-recorder-extension .camera-hidden {
    visibility: hidden!important;;
}
#screenity-screen-recorder-extension #click-highlight {
    width: 30px;
    height: 30px;
    border-radius: 200px;
    background-color: red;
    position: absolute;
    z-index: 9999999999;
    opacity: 0;
    transform: scale(0);
    transition: all .12s cubic-bezier(.05,.03,.35,1);
    transition-property: opacity, transform;
    pointer-events: none;
}
#screenity-screen-recorder-extension .show-click {
    opacity: .5!important;
    transform: scale(1)!important;
}
#screenity-screen-recorder-extension #toolbar-settings {
    all:initial;
    width: 282px;
    height: 335px;
    filter: drop-shadow(0px 4px 40px rgba(132, 164, 193, 0.15));
    box-sizing: border-box;
    position: fixed;
    bottom: 60px;
    left: 175px;
    z-index: 9999999999;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
    margin-bottom: 0px;
    visibility: visible;
}
#screenity-screen-recorder-extension .settings-camon {
    left: 230px!important
}
#screenity-screen-recorder-extension #toolbar-record {
    all: initial;
    position: fixed;
    bottom: 15px;
    left: 5px;
    display: table;
    z-index: 9999999999;
    border-spacing: 10px 0px;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
    margin-bottom: 0px;
    visibility: visible;
}
#screenity-screen-recorder-extension #toolbar-record *, #screenity-screen-recorder-extension #toolbar-record-pen * {
    all: unset;
}
#screenity-screen-recorder-extension #toolbar-record-pen, #screenity-screen-recorder-extension #toolbar-record-cursor {
    all: initial;
    position: fixed;
    bottom: 70px;
    left: 60px;
    display: table;
    z-index: 9999999999;
    border-spacing: 10px 0px;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
    margin-bottom: 0px;
    visibility: visible;
}
#screenity-screen-recorder-extension #toolbar-record .tool, #screenity-screen-recorder-extension #toolbar-record-pen .tool, #screenity-screen-recorder-extension #toolbar-record-cursor .tool {
    width: 45px;
    height: 45px;
    border-radius: 200px;
    background-color: #FFF;
    display: table-cell;
    box-shadow: 0px 4px 40px rgba(132, 164, 193, 0.15);
    border: 1px solid #D3DADF;
    text-align: center;
    vertical-align: middle;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
    transition-property: background-color, transform, opacity;
    box-sizing: border-box;
}
#screenity-screen-recorder-extension #toolbar-record .tool:hover, #screenity-screen-recorder-extension #toolbar-record-pen .tool:hover, #screenity-screen-recorder-extension #hide-camera:hover, #screenity-screen-recorder-extension #toolbar-record-cursor .tool:hover{
    cursor: pointer!important;
    background-color: #F2F3F3;
}
#screenity-screen-recorder-extension #toolbar-record .tool img, #screenity-screen-recorder-extension #toolbar-record-pen .tool img, #screenity-screen-recorder-extension #toolbar-record-cursor .tool img {
    display: inline-block;
    margin-top: 6px;
}
#screenity-screen-recorder-extension #toolbar-record #pause {
    background-color: #2D89F4;
    border: 0px;
}
#screenity-screen-recorder-extension .toolbar-inactive {
    margin-bottom: -10px!important;
    opacity: 0!important;
}
#screenity-screen-recorder-extension #toolbar-record-pen.toolbar-inactive, #screenity-screen-recorder-extension #toolbar-record-cursor.toolbar-inactive {
    visibility: hidden!important;
}
#screenity-screen-recorder-extension .toolbar-inactive:not(#toolbar-record) {
    pointer-events: none;
}
#screenity-screen-recorder-extension .pen-options {
    transform: scale(.85)!important;
}
#screenity-screen-recorder-extension .pen-options img {
    transform: scale(1.15)!important;
}
#screenity-screen-recorder-extension .tool-disabled {
    opacity: .3!important;
    pointer-events: none!important;
}
#screenity-screen-recorder-extension #color-icon {
    width: 20px;
    height: 20px;
    border-radius: 200px;
    background-color: #EB205D;
    margin-top: 6px;
    display: inline-block;
}
#screenity-screen-recorder-extension .pcr-app.visible  {
    z-index: 99999999999;
    pointer-events: all;
    margin-top: -10px!important;
}
#screenity-screen-recorder-extension .tool-active {
    background-color: #2D89F4!important;
    border: 0px!important;
}
#screenity-screen-recorder-extension .hide-button {
    visibility: hidden!important;
}
#screenity-screen-recorder-extension .camera-on {
    display: none!important;
}
#screenity-screen-recorder-extension #canvas-cont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999!important;
}
#screenity-screen-recorder-extension #canvas-freedraw, #screenity-screen-recorder-extension #canvas-focus {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99999999!important;
}
#screenity-screen-recorder-extension #canvas-focus {
    pointer-events: none!important;
}
#screenity-screen-recorder-extension #canvas-freedraw:hover {
    cursor: crosshair;
}
#screenity-screen-recorder-extension #canvas-draw {
  width: 100%;
  height: 100%;
}
#screenity-screen-recorder-extension #pen-slider, #screenity-screen-recorder-extension #eraser-slider {
    transition: opacity .25s cubic-bezier(.05,.03,.35,1);
    opacity: 1;
    position: fixed;
    width: 50px;
    left: 65px;
    height: 140px;
    bottom: 100px;
    display: block;
    z-index: 9999999999;
    pointer-events: all!important;
}
#screenity-screen-recorder-extension #eraser-slider {
    left: 123px!important;
}
#screenity-screen-recorder-extension #pen-slider input, #screenity-screen-recorder-extension #eraser-slider input {
  position: fixed;
    z-index: 9999999999!important;
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 10px;
  outline: none;
  transform: rotate(-90deg);
    bottom: 165px;
    left: 40px;
    background-color: rgba(0,0,0,0);
}
#screenity-screen-recorder-extension #eraser-slider input {
    left: 96px!important;
}
#screenity-screen-recorder-extension #pen-slider input::-webkit-slider-thumb, #screenity-screen-recorder-extension #eraser-slider input::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #FFFFFF;
border: 1.5px solid #D3DADF;
box-sizing: border-box;
box-shadow: 0px 4px 40px rgba(140, 167, 192, 0.15);
  cursor: pointer;
}
#screenity-screen-recorder-extension .slider-track {
    position: fixed;
    z-index: 9999999!important;
    left: 84.5px;
    bottom: 125px;
}
#screenity-screen-recorder-extension #eraser-slider .slider-track {
    left: 141px!important;
}
#screenity-screen-recorder-extension #countdown {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
    line-height: 250px;
    z-index: 9999999999!important;
}
#screenity-screen-recorder-extension #countdown img {
    vertical-align: middle;
}
#screenity-screen-recorder-extension .countdown-done {
    display: none!important;
}
#screenity-screen-recorder-extension .noselect, #screenity-screen-recorder-extension .noselect * {
    user-select: none!important;
}
#screenity-screen-recorder-extension .notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}