body, html {
    margin: 0px;
    width: 314px;
    height: 510px;
    background-color: #FFF;
}
#navigation {
    width: 100%;
    height: 50px;
}
#logo {
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 14px;
}
#logo img {
    vertical-align: bottom;
    margin-right: 7px;
    margin-bottom: -1px;
}
#awards {
    position: absolute;
    top: 16px;
    right: 53px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: background-color .15s cubic-bezier(.05,.03,.35,1);
    margin-top: -7px;
}
#awards img {
    width: 22px;
    margin-top: 7px;
}
#more {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: background-color .15s cubic-bezier(.05,.03,.35,1);
    margin-top: -7px;
}
#more img {
    margin-top: 7px;
}
#more:hover, #awards:hover {
    background-color: #E7EAEC;
    cursor: pointer;
}
#tabs {
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #E7E9EB;
    background-color: #FFF;
}
#recording-type {
    display: table;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.type {
    display: table-cell;
    text-align: center;
    width: 33%;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);
}
.type:not(.type-active):hover {
    opacity: .7;
    cursor: pointer;
}
.type p {
    color: #7B81A5;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
}
#tab-only img {
    width: 45px;
    height: 30.3px;
}
#tab-only.type-active img {
    margin-bottom: .36px!important;
    margin-right: .8px;
} 
#tab-only.type-active p {
    margin-top: 7px;
}
#desktop:not(.type-active) img {
    margin-left: -2px;
} 
#desktop img {
    margin-bottom: -3px;
}
.type-active p {
    color: #2D89F4!important;
}
.type-active:after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    border-radius: 2px 2px 0px 0px;
    background-color: #2D89F4;
    margin-left: 6px;
    margin-right: auto;
    position: absolute;
    top: 133px;
}
#body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: #69708A;
    margin-bottom: 11px;
    display: block;
    margin-top: 19px;
}
.nice-select {
    margin-bottom: 16px;
}
.nice-select, .nice-select ul {
    width: 100%!important;
}
.nice-select li {
    width: 90%!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nice-select ul {
    max-height: 100px!important;
    overflow-y: auto!important;
}
.current {
    text-overflow: ellipsis;
    width: 100%!important;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
#mic-label {
    margin-top: 7px!important;
}
label input {
  display: none;
}
label span {
  height: 18px;
  width: 18px;
  background-color: #E7EAEC;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  vertical-align: bottom;
  margin-right: 5px;
}
label p {
    margin: 0px;
    display: inline-block;
    color: #69708A;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);
}
label p:hover {
    opacity: .6;
    cursor: pointer;
}
label p:after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #D3DADF;
    margin-top: 1px;
}
label span:hover {
    background-color: #DEE4E8!important;
}
[type=checkbox]:checked + span:before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #2D89F4;
  background-image: url('../assets/images/checkmark.svg')!important;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  border-radius: 5px;
  left: 0;
  background-size: 11px 11px;
}
[type=checkbox]:checked:hover + span:before:hover {
  background-color: #267ADC!important;
}
.check {
    color: #000!important;
    font-weight: normal!important;
    margin-top: 2px;
    display: inline-block;
}
#record {
    width: 100%;
    background: #2D89F4;
    border-radius: 5px;
    height: 40px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    outline: none;
    border: 0px;
    font-size: 15px;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);
    margin-top: 0px;
}
.record-disabled {
    opacity: .6!important;
    pointer-events: none;
}
.record-stop {
    background-color: #F42D5D!important;
}
#advanced {
    font-family: Roboto;
    color: #2D89F4;
    font-weight: 500;
    font-size: 14px;
    display: block;
    text-align: center;
    transition: opacity .15s cubic-bezier(.05,.03,.35,1);
}
#advanced:hover, #record:hover {
    cursor: pointer;
    opacity: .7;
}
#countdown-select {
    top: 420px;
    left: 35px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #C5C8CA;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(53, 87, 98, 0.1);
    border-radius: 5px;
    height: 92px;
    width: 87px;
    visibility: hidden;
    transform: scale(0);
    transition: all .15s cubic-bezier(.05,.03,.35,1);
    transform-origin: top center;
    opacity: 0;
}
.countdown, #more-select a {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #E7E9EB;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #FFF;
    overflow: hidden;
    box-sizing: border-box;
    transition: background-color .15s cubic-bezier(.05,.03,.35,1);
    text-decoration: none;
    color: #000;
    display: block;
}
.countdown:hover, #more-select a:hover {
    background-color: #F5F6F8;
    cursor: pointer;
}
.countdown:first-child, #more-select a:first-child {
    border-radius: 5px 5px 0px 0px;
}
.countdown:last-child, #more-select a:last-child {
    border-bottom: 0px;
    border-radius: 0px 0px 5px 5px;
}
.countactive {
    visibility: visible!important;
    transform: scale(1)!important;
    opacity: 1!important;
}
#more-select {
    z-index: 2;
    top: 40px;
    right: 25px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #C5C8CA;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(53, 87, 98, 0.1);
    border-radius: 5px;
    height: 182px;
    width: 140px;
    visibility: hidden;
    transform: scale(0);
    transition: all .15s cubic-bezier(.05,.03,.35,1);
    transform-origin: top center;
    opacity: 0;
}
.strong {
    font-weight: 700;
}
#awards-open {
    z-index: 2;
    top: 40px;
    right: 20px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #C5C8CA;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgba(53, 87, 98, 0.1);
    border-radius: 5px;
    visibility: hidden;
    transform: scale(0);
    transition: all .15s cubic-bezier(.05,.03,.35,1);
    transform-origin: top center;
    opacity: 0;
    width: 280px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 150%;
}
#awards-open a {
    color: #2D89F4;
    text-decoration: none;
    font-weight: 500;
}
#awards-open img {
    width: 18px;
    margin-bottom: -3px;
}