html, body {
    margin: 0px;
    background-color: #FBFBFB;
    font-size: unset;
}
.noselect {
    user-select: none;
}
h1 {
    font-family: Roboto;
    font-size: 20px;
    margin: 0px;
}
a {
    text-decoration: none;
}
label {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #69708A;
    margin-bottom: 12px;
    display: block;
    margin-top: 25px;
}
#navigation {
    height: 80px;
    border-bottom: 1px solid #E7E9EB;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
}
#logo {
    display: inline-block;
    height: 100%;
    margin-left: 30px;
}
#logo:after, #links:after, #export-cont:after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
}
#main-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
#logo h1 {
    display: inline-block;
    vertical-align: middle;
}
.vertical-line {
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
    border-right: 1px solid #DAE0E6;
    vertical-align: middle;
    display: inline-block;
}
#credits {
    vertical-align: middle;
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    color: #69708A;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
}
#credits img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 18px;
}
#credits:hover, #links a:hover {
    opacity: .7;
}
#links {
    float: right;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#links a {
    color: #69708A;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
}
#rate {
    background-color: #F2F6FA;
    height: 47px;
    width: 175px;
    text-align: center;
    border-radius: 5px;
    color: #2D89F4!important;
    line-height: 47px;
    margin-right: 30px!important;
}
#rate img {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    margin-top: -2px;
    margin-right: 2px;
}
#settings {
    padding-left: 30px;
    top: 80px;
    width: 370px;
    position: absolute;
    right: 0px;
    background-color: #FFF;
    border-left: 1px solid #E7E9EB;
    height: calc(100% - 150px);
    z-index: 99;
    overflow-y: auto;
}
#settings h1 {
    margin-top: 40px;
}
h2 {
    margin-top: 20px;
    color: #69708A;
    font-weight: normal!important;
    font-family: Roboto;
    font-size: 16px;
}
.nice-select .list {
    width: 100%;
}
.nice-select {
    width: 90%!important;
    height: 47px;
    line-height: 47px;
    font-size: 14px;
    margin-bottom: 14px;
    font-family: Roboto;
}
.nice-select li {
    width: 90%!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nice-select ul {
    max-height: 100px!important;
    overflow-y: auto!important;
}
.current {
    text-overflow: ellipsis;
    width: 90%!important;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
#export {
    height: 70px;
    background-color: #FFF;
    border-top: 1px solid #E7E9EB;
    border-left: 1px solid #E7E9EB;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 400px;
    bottom: 0px;
    z-index: 99;
}
#export-cont {
    width: calc(100% - 60px);
    margin: auto;
    height: 100%;
}
#download {
    width: 45%;
    height: 47px;
    border-radius: 5px;
    background-color: #2D89F4;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    line-height: 47px;
    font-family: Roboto;
    font-weight: 500;
    color: #FFF;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
}
#share {
    width: 50%;
    height: 47px;
    margin-left: 2%;
    border-radius: 5px;
    background-color: #F2F6FA;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 47px;
    font-family: Roboto;
    font-weight: 500;
    color: #69708A;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
}
#download:hover, #share:hover {
    opacity: .7;
    cursor: pointer;
}
#download img, #share img {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    width: 20px;
}
#download img {
    margin-top: -2px;
}
#content {
    height: calc(100% - 80px);
    width: calc(100% - 400px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: table-cell;
    vertical-align: middle;
}
.plyr {
    height: auto;
    width: 90%;
    --plyr-color-main: #2D89F4;
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Roboto;
}
#trim-label {
    margin-top: 90px;
}
#remove-label {
    margin-top: 30px;
}
#trim-start, #trim-end, #remove-start, #remove-end {
    display: inline-block;
}
#trim-start label, #trim-end label, #remove-start label, #remove-end label {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #9EA6C3;
}
#trim-start input, #trim-end input, #remove-start input, #remove-end input {
    border: 1px solid #D3DADF;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    text-align: center;
    width: 105px;
    height: 47px;
    margin-right: 5px;
    font-size: 15px;
}
#apply-trim, #apply-remove{
    background: #2D89F4;
    border-radius: 5px;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 105px;
    height: 47px;
    line-height: 47px;
    display: inline-block;
    transition: all .25s cubic-bezier(.05,.03,.35,1);
}
#apply-trim:hover, #apply-remove:hover {
    cursor: pointer;
    opacity: .6;
}
#trimslider, #removeslider {
    display: inline-block;
    margin-left: 2px;
    width: 87%;
    height: 6px;
    margin-top: 30px;
}
#reset {
    color: #2D89F4;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 25px;
}
#reset:hover {
    cursor: pointer;
}
#show-hide {
    display: none;
    font-family: Roboto;
    color: #69708A;
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 20px;
    font-weight: 500;
}
#show-hide:hover {
    cursor: pointer;
    opacity: .6;
}
@media only screen and (max-width: 930px) {
    #logo span, #logo a {
        display: none;
    }   
}
@media only screen and (max-width: 925px) {
    #links {
        display: none;
    }   
    #show-hide {
        display: block!important;
    }
    .plyr {
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        transform: translate(0px, -50%);
        top: 50%;
    }
    #content {
        width: 100%;
    }
    .hidepanel {
        display: none!important;
    }
}