@use '../../../styles/_variables' as *;

.camera-resize {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: $z-index-max;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-color: rgba(30, 30, 30, .8);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
	border: 3px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(10px);
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;

	svg {
		color: #9797A4;
		text-align: center;
		margin: auto;
		display: block;
	}
}