@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + ".ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@include font(
  "Satoshi-Light",
  "chrome-extension://__MSG_@@extension_id__/assets/fonts/Satoshi-Light"
);
@include font(
  "Satoshi-Medium",
  "chrome-extension://__MSG_@@extension_id__/assets/fonts/Satoshi-Medium"
);
@include font(
  "Satoshi-Bold",
  "chrome-extension://__MSG_@@extension_id__/assets/fonts/Satoshi-Bold"
);
@include font(
  "Gloria Hallelujah",
  "chrome-extension://__MSG_@@extension_id__/assets/fonts/GloriaHallelujah-Regular"
);

/* Colors */
$color-background: #fff;
$color-light-grey: #f6f7fb;
$color-primary: #3080f8;
$color-border: #e8e8e8;
$color-text-contrast: #fff;
$color-text-primary: #29292f;
$color-text-secondary: #6e7684;
$color-red: #d2234d;
$color-red-light: #faf0f4;
$color-primary-transparent: rgba(48, 128, 248, 0.1);
$color-icon: #9797a4;

/* Font */
//$font-size-normal: 0.875rem;
//$font-size-small: 0.75rem;
$font-size-normal: 14px;
$font-size-detail: 0.8rem;
$font-size-small: 12px;
$font-weight-bold: 700;
$font-weight-normal: 500;
$font-weight-light: 400;
$font-light: "Satoshi-Light", sans-serif;
$font-medium: "Satoshi-Medium", sans-serif;
$font-regular: "Satoshi-Regular", sans-serif;
$font-bold: "Satoshi-Bold", sans-serif;

/* Spacing */
/*
$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
*/
$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;
$spacing-05: 16px;

/* Container */
$container-border-radius: 30px;
$container-border: 1px solid $color-border;
$container-shadow: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.35));
$container-shadow-focus: 2px 2px 10px rgba(0, 0, 0, 0.1);
$container-soft-shadow: 0 4px 20px rgb(38 38 52 / 8%);

/* Gradients */
$gradient-primary: radial-gradient(
  117.41% 117.78% at 35.44% 0%,
  #2baef8 23.13%,
  #3582f6 46.35%,
  #486def 74.48%,
  #7b9aea 100%
);
$gradient-shadow-primary: drop-shadow(0px 4px 20px rgba(86, 123, 218, 0.5));

/* Events */
$focus-border: 0px 0px 0px 2px rgba(48, 128, 248, 0.5);
$focus-inner-border: inset 0px 0px 0px 2px rgba(48, 128, 248, 0.5);

/* Z-index */
$z-index-max: 99999999999;
