@use "../../styles/_variables" as *;

@use "./layout/_PopupContainer.scss";
@use "./layout/_Settings.scss";
@use "./layout/_VideosTab.scss";
@use "./layout/_Announcement.scss";
@use "./layout/_SettingsMenu.scss";
@use "./components/_Dropdown.scss";
@use "./components/_Tabs.scss";
@use "./components/_Switch";
@use "./components/_VideoItem";
@use "./components/_MainButton";
@use "./components/_BackgroundEffects";
@use "./components/_RegionDimensions";
@use "./components/_TimeSetter";
@use "./components/_Tooltip";
