@use "../../../styles/_variables" as *;

.TooltipContent {
  border-radius: $container-border-radius;
  background-color: $color-text-primary;
  padding: 10px 15px;
  font-size: 12px;
  margin-bottom: 10px;
  bottom: 100px;
  line-height: 1;
  font-family: $font-medium;
  z-index: 99999999 !important;
  color: $color-text-contrast;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  transition: opacity 0.3 ease-in-out !important;
  will-change: transform, opacity;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.hide-tooltip {
  display: none !important;
}

.tooltip-tall {
  margin-bottom: 20px;
}

.tooltip-small {
  margin-bottom: 5px;
}

.TooltipContent[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#screenity-ui [data-radix-popper-content-wrapper] {
  z-index: $z-index-max !important;
}

.override {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
