@use '../../styles/_variables' as *;

.box-hole {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}
.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, .5);
  box-sizing: border-box;
}
.resize-handle.top-left {
	bottom: 0;
  left: 0;
	top: 0;
	right: 0;
	margin: auto;
  cursor: nwse-resize;
}
.resize-handle.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.resize-handle.top-right {
	bottom: 0;
  left: 0;
	top: 0;
	right: 0;
	margin: auto;
  cursor: nesw-resize;
}
.resize-handle.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.resize-handle.bottom-right {
	bottom: 0;
  left: 0;
	top: 0;
	right: 0;
	margin: auto;
  cursor: nwse-resize;
}
.resize-handle.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.resize-handle.bottom-left {
  bottom: 0;
  left: 0;
	top: 0;
	right: 0;
	margin: auto;
  cursor: nesw-resize;
}
.resize-handle.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.region-recording * {
	pointer-events: none!important;
}