@use "../global/variables.scss" as *;

.TitleParent {
  position: relative;
  bottom: 0;
  width: 90%;
  max-width: 900px;
  left: 0;
  right: 0;
  margin: 0px !important;
}

.TitleWrap {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top of the flex container */
  height: auto; /* Allow the container to expand with multiple lines of text */

  &:hover {
    cursor: text;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: $font-medium;
    position: absolute;
    top: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 140px);
  }

  input {
    position: absolute;
    top: 100%;
    font-family: $font-medium;
    font-size: 20px;
    border-radius: $container-border-radius;
    border: 1px solid $color-border;
    width: 100%;
    height: 32px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      box-shadow: $focus-border;
    }
  }
}
.pencil {
  display: inline-block;
  color: $color-icon;
}
.shareButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-text-primary;
  color: $color-text-contrast;
  border-radius: $container-border-radius;
  padding: 0px 16px;
  height: 40px;
  position: absolute;
  right: 0px;
  gap: 8px;
  font-size: 500;
  font-family: $font-medium;
  top: -6px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.shareIcon {
  width: 16px;
  svg {
    color: #fff;
    margin-top: 1px;
  }
}
