@use "../../styles/_variables" as *;

/* reset */
button {
  all: unset;
}

.AlertDialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 99999999999;
}

.AlertDialogContent {
  overflow: auto !important;
  background-color: white;
  border-radius: 30px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 35px 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: $z-index-max;
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: $color-text-primary;
  font-size: $font-size-normal;
  font-family: $font-bold;
  font-weight: 700;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: $color-text-secondary;
  font-size: $font-size-normal;
  line-height: 1.5;

  a {
    color: $color-primary !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
  }
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.blue {
  background-color: rgba(48, 128, 248, 0.1);
  color: $color-primary;

  &:hover {
    background-color: rgba(48, 128, 248, 0.15);
    cursor: pointer;
  }
  &:focus {
    box-shadow: $focus-border;
  }
}
.Button.red {
  background-color: rgba(247, 56, 90, 0.1);
  color: rgba(247, 56, 90, 1);
}
.Button.red:hover {
  background-color: rgba(247, 56, 90, 0.15);
  cursor: pointer;
}
.Button.red:focus {
  box-shadow: $focus-border;
}
.Button.grey {
  background: rgba(110, 118, 132, 0.1);
  color: $color-text-secondary;
}
.Button.grey:hover {
  background: rgba(110, 118, 132, 0.15);
  cursor: pointer;
}
.Button.grey:focus {
  box-shadow: $focus-border;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.SideButtonModal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  color: $color-text-secondary;
  font-family: $font-medium;

  &:hover {
    cursor: pointer;
    background: rgba(110, 118, 132, 0.05);
  }
}
