@use '../../../styles/_variables' as *;

.region-dimensions {
	width: 100%;
	display: flex;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.region-input {
	flex: 1;
	position: relative;

	input {
		color: $color-text-primary!important;
		border-radius: $container-border-radius;
		height: 40px;
		box-sizing: border-box;
		position: relative;
		width: 100%;
		padding-left: 18px;
		padding-right: 40px;
		font-family: $font-medium;
		background-color: $color-background;

		&:focus-visible {
			outline: none;
			box-shadow: $focus-border;
		}
	}
	span {
		color: $color-text-secondary;
		font-family: $font-medium;
		position: absolute;
		right: 18px;
		bottom: 12px;
		user-select: none;
	}
}